<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.queen.rxjavaretrofitdemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">

        </activity>
        <activity android:name=".study.RxJavaStudy.copy.activity.activity_copy">

        </activity>
        <activity android:name=".study.retrofit.test.activity_retrofit">

        </activity>
        <activity android:name=".study.rxjava_retrofit_study.test.activity.activity_rxjava_retrofit">

        </activity>
        <activity android:name=".study.recyleView.test.activity_first">

        </activity>
        <activity android:name=".study.eventBus.test.activity.activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".study.eventBus.test.activity.secondActivity"/>
    </application>

</manifest>
